<div>
  <form class="example-form" name="inputform" ng-submit="submitLogin()">
    <mat-form-field class="example-full-width" [style.width.px]=327>
      <input matInput [(ngModel)]="bigcharts.code" name="code">
    </mat-form-field>
    ||
    <label>Year</label>
    <mat-radio-group [(ngModel)]="bigcharts.year" name="b">
      <mat-radio-button value="1">1</mat-radio-button>
      <mat-radio-button value="2">2</mat-radio-button>
      <mat-radio-button value="3">3</mat-radio-button>
      <mat-radio-button value="5">5</mat-radio-button>
    </mat-radio-group>
    ||
    <label>Mode</label>
    <mat-radio-group [(ngModel)]="bigcharts.mode" name="c">
      <mat-radio-button value="daily">daily</mat-radio-button>
      <mat-radio-button value="week">week</mat-radio-button>
      <mat-radio-button value="month">month</mat-radio-button>
    </mat-radio-group>
    ||
    <mat-form-field class="example-full-width" [style.width.px]=50>
      <input matInput placeholder="MA" [(ngModel)]="bigcharts.ma" name="ma">
    </mat-form-field>
    &nbsp;
    <button
      mat-raised-button
      color="primary"
      (click)="submitLogin()">Post
    </button>
    &nbsp;&nbsp;
    <button
      mat-raised-button
      color="primary"
      (click)="resize()">resize
    </button>


  </form>
</div>
<div *ngIf="load">
  <app-spin-load-icon></app-spin-load-icon>
</div>

<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="1px grid" width="100%">
  <div *ngFor="let imgof of bigchartcompare">
    <h4>{{imgof.code | uppercase}} || Year : {{imgof.year}} </h4>
    <!--    <img alt="Embedded Image" [ngStyle]="{'width':width}" src="{{imgof.imagedata}}">-->
    <img alt="Embedded Image" [ngStyle]="{'width.px':width}" src="{{imgof.imagedata}}">
    <!--    <img alt="Embedded Image" width="200" src="{{imgof.imagedata}}">-->
    <!--    <img alt="Embedded Image" width="{{width}}" src="{{imgof.imagedata}}">-->
  </div>
</div>
